<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>5</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>8</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>9</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>11</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>12</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Transition</string>
		<key>Photo</key>
		<string>13</string>
	</dict>
</array>
</plist>
